body {
     font-family: Arimo, sans-serif;
     background-color: darkslateblue;
}

#jumbotron-bg-color {
     background-color: navy;
}

#navbar-bg-color {
     background-color: darkslategrey;
}

#table-display {
     color: white;
}

.thead-sticky {
     position: sticky; top: 50px !important
}